bpelTest/TSTAPP/SDP_WPS/MamMemberServicesProcessModulecom/com/att/sdp/intf/FromMam_DeleteMailBox_Interface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_Order" xmlns:bons2="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_TransactionDetail" xmlns:tns="http://MamMemberServicesProcessModule/com/att/sdp/intf/FromMam_DeleteMailBox_Interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FromMam_DeleteMailBox_Interface" targetNamespace="http://MamMemberServicesProcessModule/com/att/sdp/intf/FromMam_DeleteMailBox_Interface">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MamMemberServicesProcessModule/com/att/sdp/intf/FromMam_DeleteMailBox_Interface" xmlns:bons1="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_Order" xmlns:bons2="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_TransactionDetail" xmlns:tns="http://MamMemberServicesProcessModule/com/att/sdp/intf/FromMam_DeleteMailBox_Interface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_Order" schemaLocation="../../../../SDP_Order.xsd"/>
      <xsd:import namespace="http://www.ibm.com/websphere/crossworlds/2002/BOSchema/SDP_TransactionDetail" schemaLocation="../../../../SDP_TransactionDetail.xsd"/>
      <xsd:element name="DeleteMailBox">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SDP_ORDER_Request" nillable="true" type="bons1:SDP_Order"/>
            <xsd:element name="SDP_ORDER_Prov" nillable="true" type="bons1:SDP_Order"/>
                        <xsd:element name="SDP_ORDER_Prov_Updated" nillable="true" type="bons1:SDP_Order"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteMailBoxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Transaction_Detail" nillable="true" type="bons2:SDP_TransactionDetail"/>
                        <xsd:element name="SDP_ORDER_RequestPort" nillable="true" type="bons1:SDP_Order"/>
                        <xsd:element name="SDP_ORDER_ProvPort" nillable="true" type="bons1:SDP_Order"/>
                        <xsd:element name="SDP_ORDER_Prov_Updated" nillable="true" type="bons1:SDP_Order"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="DeleteMailBoxRequestMsg">
    <wsdl:part element="tns:DeleteMailBox" name="DeleteMailBoxParameters"/>
  </wsdl:message>
    <wsdl:message name="DeleteMailBoxResponseMsg">
    <wsdl:part element="tns:DeleteMailBoxResponse" name="DeleteMailBoxResult"/>
  </wsdl:message>
    <wsdl:portType name="FromMam_DeleteMailBox_Interface">
    <wsdl:operation name="DeleteMailBox">
      <wsdl:input message="tns:DeleteMailBoxRequestMsg" name="DeleteMailBoxRequest"/>
      <wsdl:output message="tns:DeleteMailBoxResponseMsg" name="DeleteMailBoxResponse"/>    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
